<div class="container" id="container"style="margin-top: 7%;">

    <div class="form-container log-in-container">
      <form action="#">
            <img allign="left" class="img1"src="https://th.bing.com/th/id/OIP.h8ujapZNsW56Ou_2gmfMBgHaGo?w=184&h=180&c=7&r=0&o=5&pid=1.7" alt="Avatar">
        <br>
              <h1>WELCOME</h1>
        <!-- <div class="social-container">
          <a href="#" class="social"><i class="fa fa-facebook fa-2x"></i></a>
          <a href="#" class="social"><i class="fab fa fa-twitter fa-2x"></i></a>
        </div> -->
              <br>
        <span></span>
        <button  (click)=" this.router.navigate(['/admin']);">
                  ADMIN Section
              </button>
              <br>
        <button (click)=" this.router.navigate(['/login']);">Student Section</button>
              
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h2>MKSSS'S Cummins College of Engineering</h2>
          <p><strong>Vision:</strong>
  To be globally renowned institute for imparting quality education and to develop women leaders in engineering and technology.</p>
  <p><strong>Mission:</strong>
  To develop women professionals who are academically and technically competent with strong professional ethics.</p>
                         
          </div>
      </div>
    </div>
  
  </div>